.extended-swatch {
	display: flex;
	flex-grow: 1;
	height: 100%;
	padding: 0.5rem;

	.picker-box {
		display: flex;
		flex-direction: column;
		min-width: 500px;
	}
	.info-box {
		background-color: transparent;
		text-align: center;
		.color-box-grid {
			color: #e1ddd7;
			display: grid;
			grid-gap: 1rem;
			grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
			padding: 1rem 0.5rem 1rem 0.25rem;
			text-transform: capitalize;
			width: 100%;
		}
		.controls {
			align-items: center;
			display: flex;
			justify-content: flex-start;
			width: 100%;
		}
	}
}

// Large devices (desktops, less than 1920px)
@media (max-width: 1599.98px) {
	.extended-swatch {
		.info-box {
			.color-box-grid {
				grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
			}
		}
	}
}

// Large devices (desktops, less than 1920px)
@media (max-width: 1399.98px) {
	.extended-swatch {
		.info-box {
			.color-box-grid {
				grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
			}
		}
	}
}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {
	.extended-swatch {
		.info-box {
			width: 100%;
			.color-box-grid {
				display: grid;
				grid-gap: 0.3rem;
				grid-template-columns: 1fr 1fr 1fr 1fr;
				padding: 1rem 0.3rem 1rem 0.2rem;
				width: 100%;
				.color-box p {
					font-size: 1rem;
				}
			}
		}
	}
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
	.extended-swatch {
		flex-direction: column;
		.picker-box {
			min-width: unset;
		}
		.info-box {
			align-items: center;
			display: flex;
			flex-direction: column-reverse;
			.color-box-grid {
				order: 1;
				grid-template-columns: 1fr 1fr 1fr 1fr;
				padding: 0;
			}
			.controls {
				display: block;
				position: sticky;
				bottom: 0.5rem;
				width: 90%;
				.color-saver-controls {
					width: 100%;
				}
			}
		}
	}
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
	.extended-swatch {
		.info-box {
			.color-box-grid {
				grid-template-columns: 1fr 1fr 1fr;
			}
		}
	}
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
	.extended-swatch {
		.info-box {
			.color-box-grid {
				grid-template-columns: 1fr 1fr;
			}
		}
	}
}
