.extended-swatch {
	display: flex;
	flex-grow: 1;
	height: 100%;
	padding: 0.5rem;

	.picker-box {
		display: flex;
		flex-direction: column;
		min-width: 580px;
	}
	.info-box {
		display: flex;
		flex-direction: column;
		background-color: transparent;
		text-align: center;
		width: 100%;
		.color-box-grid {
			color: #e1ddd7;
			display: flex;
			justify-content: flex-start;
			flex-wrap: wrap;
			padding: 1rem 0.45rem 1rem 0.45rem;
			text-transform: capitalize;
			width: 100%;
		}
		.controls {
			align-items: center;
			display: flex;
			justify-content: flex-start;
			margin-top: auto;
			width: 100%;
		}
	}
}

// Large devices (desktops, less than 1920px)
@media (max-width: 1919.98px) {
	.extended-swatch {
		.picker-box {
			min-width: 500px;
		}
	}
}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {
	.extended-swatch {
		.picker-box {
			min-width: 40vw;
		}
	}
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
	.extended-swatch {
		.picker-box {
			min-width: 40vw;
		}
	}
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
	.extended-swatch {
		flex-direction: column;
		.picker-box {
			min-width: 100%;
		}
		.info-box {
			align-items: center;
			display: flex;
			flex-direction: column;
			.controls {
				display: block;
				position: sticky;
				bottom: 1.25rem;
				width: 90%;
			}
		}
	}
}
