.chrome-picker {
	background-color: transparent !important;
	border-radius: 0 !important;
	box-shadow: none !important;
	width: 100% !important;
	> div {
		> .flexbox-fix:nth-of-type(1) {
			display: none !important;
		}
		> .flexbox-fix:nth-of-type(2) {
			padding: 0 !important;
			> div:nth-of-type(2) {
				display: none !important;
			}
		}
	}
	> div:nth-of-type(2) {
		padding: 0 !important;
	}
	> .flexbox-fix {
		border: none !important;
		margin: 0 !important;
	}
	> div:nth-child(2) > div:nth-child(2) > div.flexbox-fix > div > div {
		align-items: center;
		display: flex;
		flex-direction: row-reverse;
		margin-bottom: 0 !important;
		font-family: 'Roboto Mono', monospace !important;

		input,
		span {
			margin: 0 !important;
			height: 1.5rem !important;
		}
		span {
			color: #e1ddd7 !important;
			font-size: 0.95rem !important;
			height: unset !important;
			text-transform: uppercase !important;
		}
		input {
			font-size: 1rem !important;
			text-align: center !important;
			margin-left: auto !important;
			width: 81% !important;
			// Extra small devices (portrait phones, less than 576px)
			@media (max-width: 575.98px) {
				min-height: 21px;
			}
		}
	}
}

.custom-picker-form {
	padding-bottom: 1rem;
}

.viewing-box {
	flex-grow: 1;
	// Extra small devices (portrait phones, less than 576px)
	@media (max-width: 768px) {
		min-height: 7rem;
		margin-bottom: 1rem;
	}
	@media (max-width: 576px) {
		min-height: 3rem;
	}
}
