.box-bar-wrapper {
	box-shadow: 0 1px 6px 3px rgba(245, 235, 235, 0.1);
	list-style: none;
	padding-inline-start: 0;
}

.color-bar-wrap {
	height: 6ch;
	width: 15ch;
}

.color-bar {
	border: none;
	font-family: 'Roboto mono', monospace;
	font-size: 1rem;
	text-transform: uppercase;
	height: 100%;
	width: 100%;
}
