.contrast-checker {
	align-items: center;
	color: #fff;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	min-height: calc(100vh - 78.38px);
	padding-bottom: 1rem;
	.demo-section {
		align-items: center;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-template-rows: 400px 60px;
		width: 85vw;
		.summary {
			display: flex;
			flex-direction: column;
			justify-content: space-around;
			font-size: 1.05rem;
			grid-column: 1/5;
			height: 100%;
			padding: 0 1rem;
			.wcag-list {
				border: 1px solid;
				padding-bottom: 0.25rem;
				padding-top: 0.25rem;
			}
		}
		.text-box {
			align-self: flex-end;
			text-align: center;
			width: 100%;
		}
		.small {
			font-size: 10px;
		}
		.normal {
			font-size: 16px;
		}
		.large-bold {
			font-size: 18.66px;
			font-weight: bold;
		}
		.large {
			font-size: 24px;
		}
	}
	.results {
		justify-content: space-around;
		display: grid;
		grid-gap: 1rem;
		grid-template-columns: repeat(4, 12rem);
		height: 25%;
		margin: 0.25rem 0;
		padding: 2rem;
		.wcag-box {
			align-items: center;
			border-radius: 4px;
			box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
			display: flex;
			color: #fff;
			border: 2px solid #fff;
			flex-direction: column;
			font-family: 'roboto', sans-serif;
			font-size: 1.25rem;
			font-weight: bold;
			justify-content: space-around;
			height: 100%;
			padding: 1rem;
			text-align: center;
		}
		.bad {
			background-color: #b60000;
		}
		.good {
			background-color: #006800;
		}
	}
	.input-section {
		background-color: #403a3a;
		box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
		border-radius: 4px;
		color: #e1ddd7;
		display: flex;
		flex-direction: column;
		min-height: 50vh;
		padding-bottom: 1rem;
		width: 80vw;
	}
	.ratio {
		align-items: center;
		display: flex;
		flex-grow: 1;
		font-size: 3rem;
		line-height: 3rem;
		justify-content: center;
		min-height: 9rem;
		text-align: center;
	}
	.colors {
		display: grid;
		grid-template-columns: 40% 40%;
		justify-content: space-around;
		.background-choice,
		.text-choice {
			user-select: none;
			.hex-box-wrapper {
				display: flex;
				justify-content: space-between;
				width: 100%;
				.hex-box-input {
					border: none;
					box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
					margin-bottom: 1rem;
					padding-left: 2px;
					padding-right: 2px;
					&:focus {
						outline: 2px solid #0145b2;
					}
				}
				.color-display-box {
					height: 26px;
					width: 26px;
				}
			}
		}
	}
	.tooltip-toggle {
		background-color: transparent;
		border: none;
		padding-left: 0;
		text-decoration: underline;
	}
	.tooltip {
		background-color: #231d1d;
		border: 1px solid #e1ddd7;
		box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
		color: #eee;
		font-size: 1.1rem;
		opacity: 1;
		width: 40rem;
		max-width: 33vw;
		.tooltip-title {
			font-weight: bold;
		}
	}
	// Small devices (landscape phones, less than 768px)
	@media (max-width: 1200px) {
		padding-bottom: 0;
		.demo-section {
			grid-template-rows: auto auto;
			padding: 0;
			width: 100%;
			.summary {
				font-size: 1rem;
				min-height: 525px;
				padding: 0 0.5rem;
			}
		}
		.input-section {
			border-radius: 0;
			box-shadow: none;
			margin-top: auto;
			max-height: unset;
			padding: 0 0.5rem 0.5rem 0.5rem;
			width: 100%;
			.results {
				grid-gap: 0.2rem;
				grid-template-columns: repeat(4, minmax(22%, 1fr));
				padding: 0.75rem 0 1rem 0;
				.wcag-box {
					font-size: 1rem;
					height: 95px;
					padding: 0.2rem;
				}
			}
		}
		.ratio {
			font-size: 2rem;
			line-height: 3rem;
			min-height: 7rem;
		}
		.colors {
			grid-gap: 0.5rem;
			grid-template-columns: 48% 48%;
			.background-choice,
			.text-choice {
				input {
					max-width: 100%;
				}
			}
			.slider-label {
				font-size: 0.9rem;
			}
		}
		.tooltip {
			font-size: 0.85rem;
			max-width: 70vw;
			padding: 0.35rem;
			width: unset;
		}
	}
	// Small devices (landscape phones, less than 768px)
	@media (max-width: 768px) {
		.input-section {
			padding: 0 0.25rem 1.2rem 0.25rem;
			.results {
				grid-gap: 0.2rem;
				grid-template-columns: repeat(4, minmax(22%, 1fr));
				grid-template-rows: 1fr;
			}
			.ratio {
				min-height: 7rem;
			}
			.colors {
				.background-choice,
				.text-choice {
					.hex-box-wrapper {
						flex-wrap: wrap;
						.hex-box-label {
							width: 100%;
						}
						.hex-box-input {
							max-width: calc(100% - 30px);
						}
					}
				}
			}
		}
	}
}
