.color-random-paper {
	max-width: 20rem;
	min-height: 20rem;
	padding: 1rem;
}
.color-random-grid {
	min-height: 20rem;
}
.current-color {
	line-height: 2rem;
	min-height: 2rem;
	text-align: center;
	text-transform: uppercase;
}
