.app {
	background-color: #161d1d;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	max-width: 100vw;
	width: 100vw;
}

.fade-enter {
	opacity: 0.1;
}

.fade-enter.fade-enter-active {
	opacity: 1;
	transition: opacity 200ms linear;
}

.fade-exit {
	opacity: 0;
	transition: opacity 200ms linear;
}
