@import '../../../node_modules/bootstrap/scss/mixins';
@import '../../../node_modules/bootstrap/scss/functions.scss';
@import '../../../node_modules/bootstrap/scss/variables';
@import '../../../node_modules/bootstrap/scss/transitions';
@import '../../../node_modules/bootstrap/scss/utilities';
@import '../../../node_modules/bootstrap/scss/nav';
@import '../../../node_modules/bootstrap/scss/navbar';

.app {
	background-color: #161d1d;
	display: flex;
	flex-direction: column;
	height: 100%;
	min-height: 100vh;
	max-width: 100vw;
	width: 100%;
}

nav.navbar.bg-dark {
	background-color: #403a3a !important;
	padding: 0.45rem 1rem;
	.app-logo {
		max-height: 3.75rem;
		margin-bottom: 0.25rem;
	}
	.navbar-brand {
		padding: 0;
	}
	.navbar-nav {
		.nav-link {
			border: 1px solid #e1ddd7;
			border-radius: 4px;
			color: #e1ddd7;
			font-size: 1.1rem;
			margin-left: 0.5rem;
			text-align: center;
		}
		.nav-link:hover {
			text-decoration: none;
		}
		.nav-link.active {
			background-color: #eee;
			color: #000;
		}
	}
}

.navbar-dark .navbar-toggler {
	color: #fff;
	border-color: #fff;
}

@keyframes App-logo-spin {
	0% {
		transform: rotate(0deg);
	}
	50% {
		transform: rotate(360deg);
	}
	100% {
		transform: rotate(0deg);
	}
}
