.color-bar {
	height: 7.95ch;
	min-width: 24ch;
}

.color-bar-button {
	border: none;
	font-family: 'Roboto mono', monospace;
	font-size: 1rem;
	height: 100%;
	padding: 0;
	text-transform: uppercase;
	width: 100%;
}
