.swatch {
	display: flex;
	height: 100%;
	min-height: calc(100vh - 78.38px);
	padding: 0.5rem;
	width: 100%;
	.info-box {
		display: flex;
		flex-direction: column;
		background-color: transparent;
		text-align: center;
		.color-box-grid {
			color: #e1ddd7;
			display: flex;
			justify-content: flex-start;
			flex-wrap: wrap;
			padding: 1rem 0 1rem 0.45rem;
			text-transform: capitalize;
			width: 100%;
		}
		.controls {
			align-items: center;
			display: flex;
			justify-content: flex-start;
			margin-top: auto;
			width: 100%;
		}
		// Large devices (desktops, less than 1920px)
		@media screen and (max-width: 1920px) {
			width: 73%;
			.color-box-grid {
				justify-content: space-around;
			}
		}
		// Large devices (desktops, less than 1920px)
		@media screen and (max-width: 1919.97px) {
			.color-box-grid {
				justify-content: flex-start;
			}
		}
		// Large devices (desktops, less than 1200px)
		@media screen and (max-width: 1500px) {
			width: 65%;
		}

		// Large devices (desktops, less than 1200px)
		@media screen and (max-width: 1200px) {
			height: 100%;
			width: 56%;
		}
		@media screen and (max-width: 992px) {
			.controls {
				display: block;
				position: sticky;
				bottom: 1.25rem;
				width: 100%;
			}
		}
		// Small devices (landscape phones, less than 768px)
		@media screen and (max-width: 768px) {
			align-items: center;
			height: 100%;
			width: 100%;
			.controls {
				display: block;
				position: sticky;
				bottom: 1.25rem;
			}
			.color-box-grid {
				justify-content: space-around;
				padding: 0;
			}
		}
		@media screen and (min-width: 2560px) and (max-width: 2560px) and (min-height: 1440px) and (max-height: 1440px) {
			flex-grow: 1;
			padding: 0 1.5rem;
			.color-box-grid {
				justify-content: space-between;
			}
		}
		@media screen and (min-width: 1680px) and (max-width: 1680px) and (min-height: 1050px) and (max-height: 1050px) {
			flex-grow: 1;
			padding: 0 1rem;
		}
		@media screen and (min-width: 1440px) and (max-width: 1440px) and (min-height: 900px) and (max-height: 900px) {
			flex-grow: 1;
			padding: 0 1rem;
		}
	}

	// Small devices (landscape phones, less than 768px)
	@media (max-width: 768px) {
		flex-direction: column;
		height: 100%;
		flex-grow: 1;
	}
}

.picker-box {
	display: flex;
	flex-direction: column;
	width: 700px;

	// Large devices (desktops, less than 1920px)
	@media screen and (max-width: 1920px) {
		width: 27%;
	}
	// Large devices (desktops, less than 1200px)
	@media screen and (max-width: 1500px) {
		min-width: 35%;
	}

	// Large devices (desktops, less than 1200px)
	@media screen and (max-width: 1200px) {
		width: 44%;
	}
	// Small devices (landscape phones, less than 768px)
	@media screen and (max-width: 768px) {
		width: 100%;
	}

	@media screen and (min-width: 2560px) and (max-width: 2560px) and (min-height: 1440px) and (max-height: 1440px) {
		width: 30%;
	}
	@media screen and (min-width: 1680px) and (max-width: 1680px) and (min-height: 1050px) and (max-height: 1050px) {
		min-width: 0;
		width: 25%;
	}
	@media screen and (min-width: 1440px) and (max-width: 1440px) and (min-height: 900px) and (max-height: 900px) {
		min-width: 0;
		width: 30%;
	}
}

/// picker
.chrome-picker {
	background-color: transparent !important;
	border-radius: 0 !important;
	box-shadow: none !important;
	width: 100% !important;

	> div:nth-child(2) {
		display: none;
	}
}

.custom-picker-form {
	padding-bottom: 1rem;
}

.viewing-box {
	flex-grow: 1;
	// Extra small devices (portrait phones, less than 576px)
	@media (max-width: 768px) {
		min-height: 7rem;
		margin-bottom: 1rem;
	}
	@media (max-width: 576px) {
		min-height: 3rem;
	}
}
