.swatch {
	display: flex;
	height: 100%;
	flex-grow: 1;
	min-height: calc(100vh - 78.38px);
	max-height: calc(100vh - 78.38px);
	padding: 0.5rem;
	width: 100vw;

	// Small devices (landscape phones, less than 768px)
	@media (max-width: 768px) {
		padding: 0;
		flex-direction: column;
	}
}

.info-box {
	display: flex;
	flex-direction: column;
	text-align: center;
	width: 65vw;
	.color-box-grid {
		color: #e1ddd7;
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
		padding: 1rem 0 1rem 0.45rem;
		text-transform: capitalize;
		width: 100%;
		// Small devices (landscape phones, less than 768px)
		@media screen and (max-width: 768px) {
			padding: 0 0.25rem;
		}
	}
	.controls {
		align-items: center;
		display: flex;
		justify-content: flex-start;
		margin-top: auto;
		width: 100%;

		@media screen and (max-width: 992px) {
			display: block;
			position: sticky;
			bottom: 1.25rem;
		}
	}

	// Large devices (desktops, less than 1200px)
	@media screen and (max-width: 1200px) {
		width: 60vw;
	}
	// Small devices (landscape phones, less than 768px)
	@media screen and (max-width: 768px) {
		width: 100vw;
	}
}

.picker-box {
	display: flex;
	flex-direction: column;
	width: 700px;

	// Large devices (desktops, less than 1920px)
	@media screen and (max-width: 1920px) {
		width: 35vw;
	}

	// Large devices (desktops, less than 1200px)
	@media screen and (max-width: 1200px) {
		width: 40vw;
	}
	// Small devices (landscape phones, less than 768px)
	@media screen and (max-width: 768px) {
		width: 100vw;
	}
}

@media screen and (min-width: 2560px) and (max-width: 2560px) and (min-height: 1440px) and (max-height: 1440px) {
	.info-box {
		flex-grow: 1;
		padding: 0 1.5rem;
		width: 70vw;
		.color-box-grid {
			justify-content: space-between;
		}
	}

	.picker-box {
		width: 30vw;
	}
}
@media screen and (min-width: 1680px) and (max-width: 1680px) and (min-height: 1050px) and (max-height: 1050px) {
	.info-box {
		flex-grow: 1;
		padding: 0 1rem;
		width: 75vw;
	}

	.picker-box {
		min-width: 0;
		width: 25vw;
	}
}
@media screen and (min-width: 1440px) and (max-width: 1440px) and (min-height: 900px) and (max-height: 900px) {
	.info-box {
		flex-grow: 1;
		padding: 0 1rem;
		width: 70vw;
	}

	.picker-box {
		min-width: 0;
		width: 30vw;
	}
}

/// picker
.chrome-picker {
	width: 100% !important;

	> div:nth-child(2) {
		display: none;
	}
}

.custom-picker-form {
	padding-bottom: 1rem;
}

.viewing-box {
	flex-grow: 1;
	// Extra small devices (portrait phones, less than 576px)
	@media (max-width: 768px) {
		min-height: 7rem;
		margin-bottom: 1rem;
	}
	@media (max-width: 576px) {
		min-height: 3rem;
	}
}
