.MuiAppBar-root {
	&.header-appbar {
		background-color: #403a3a;
	}

	.header-logo {
		max-height: 3.75rem;
	}

	.header-menu-wrap {
		margin-left: auto;
	}

	.header-menu-button {
		color: #fff;
	}
}

.header-spacer-toolbar {
	padding-bottom: 10px;
}
