.color-box {
	display: flex;
	flex-direction: column;
	width: 100%;
	> div {
		border: 1px solid #49515f;
		box-shadow: 0 1px 8px 1px rgba(125, 125, 125, 0.25);
	}
	p {
		margin: 0;
	}

	.color-bar {
		align-items: center;
		border: none;
		justify-content: center;
		display: flex;
		height: 3.75rem;
		padding: 0;
		width: 100%;
		p {
			font-family: 'Roboto mono', monospace;
			font-size: 1.125rem;
			margin: 0;
			text-transform: uppercase;
		}
	}
}
