.hex-box-wrapper {
	align-items: center;
	display: flex;
	justify-content: space-between;
	margin: 0.25rem 0 0.5rem 0;
	min-height: 2rem;
	.hex-box-input {
		flex-grow: 1;
		max-width: 15ch;
	}
	.hex-box-label {
		color: #d1cac1;
		font-size: 1rem;
		margin: 0;
		max-width: 11ch;
	}
	.color-display-box {
		justify-self: stretch;
		margin-left: 1ch;
		min-height: 2rem;
		width: 2rem;
	}
}
