// Override default variables before the import
$body-bg: #000;

// Import Bootstrap and its default variables - This goes last
// @import '~bootstrap/scss/bootstrap.scss';
// @import '~primereact/resources/primereact.min.css';
// @import '~primeicons/primeicons.css';

@import '~bootstrap/scss/bootstrap.scss';
@import './scss/breakpoints.scss';

html, body {
	min-height: 100vh;
	min-height: calc(var(--vh, 1vh) * 100);
	height: 100%;
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

div,
p,
span,
h1,
h2,
h3,
h4,
h5,
h6,
dl,
dt,
input,
button,
header,
main {
	font-family: 'Roboto', sans-serif;
}

td,
dd,
dt,
dl,
code {
	font-family: 'Roboto Mono', monospace !important;

	> * {
		font-family: 'Roboto Mono', monospace !important;
	}
}

dd {
	margin-inline-start: unset;
}

a:focus,
button:focus {
	outline: thin dotted #0faded;
}
