@import './breakpoints.scss';

.app {
	background-color: #161d1d;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	margin: 0;
	padding: 0;
	text-align: center;
	nav.navbar {
		background-color: #473333;
		.app-logo {
			animation: App-logo-spin infinite 18s linear;
			pointer-events: none;
		}
		.navbar-brand {
			span {
				color: #fff;
				font-size: 1.5rem;
				margin-left: 0.25rem;
				vertical-align: sub;
				sup {
					color: #0FADED;
					font-size: 66%;
					top: -.85em;
				}
			}
		}
		.navbar-nav {
			width: 100%;
			@include medium-down {
				width: unset;
			}
			.nav-link {
				color: #e1ddd7;
				&:hover {
					color: #e1ddd7;
				}
				&.active {
					background-color: #0069d9;
					color: #e1ddd7;
					&:hover {
						color: #e1ddd7;
					}
				}
			}
			.page-action {
				box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
				color: #161d1d;
				margin-left: auto;
				&:disabled {
					box-shadow: none;
				}
				@include medium-down {
					display: none;
				}
			}
		}
	}
	main {
		display: flex;
		flex-grow: 1;
		min-height: 100%;
		.row {
			align-items: stretch;
			min-height: 100%;
			margin: 0;
			width: 100vw;
		}
	}
}

#root {
	min-height: 100%;
}

.addSwatch {
	bottom: 3rem;
	border-radius: 50%;
	color: #161d1d;
	cursor: pointer;
	padding: .05rem;
	position: absolute;
	right: 1rem;
	> svg {
		width: 2.6rem;
		height: 2.6rem;
	}
	&.btn-success:hover {
		color: #161d1d;
	}
}

@keyframes App-logo-spin {
	0% {
		transform: rotate(0deg);
	}
	25% {
		transform: rotate(180deg);
	}
	50% {
		transform: rotate(360deg);
	}
	75% {
		transform: rotate(180deg);
	}
	100% {
		transform: rotate(0deg);
	}
}
