// Override default variables before the import
$body-bg: #000;

.p-accordion .p-accordion-content {
	padding: 0 0.25rem;
}

.p-button {
	margin-right: 0;
}

.p-button-text-only .p-button-text {
	padding: 0;
}

dd {
	margin-inline-start: unset;
}

// Import Bootstrap and its default variables - This goes last
// @import '~bootstrap/scss/bootstrap.scss';
@import '~primereact/resources/primereact.min.css';
@import '~primeicons/primeicons.css';
