@import './breakpoints.scss';

.swatch {
	border: 1px solid #161d1d;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	flex: 1;
	font-family: 'Roboto', sans-serif;
	min-height: 50%;
	min-width: 16%;
	@include medium-down {
		min-width: 30%;
	}
	@include extra-small-down {
		min-width: 49%;
	}
	.controls {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		margin-bottom: auto;
		> span {
			cursor: pointer;
			padding: 0.25rem;
			margin-left: 0.5rem;
			> svg {
				@include extra-small-down {
					width: 1rem;
					height: 1rem;
				}
			}
		}
	}
	.box-outer {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		min-height: 0;
		.box-head {
			flex: 1;
			align-items: center;
			display: flex;
			justify-content: center;
			max-height: 3rem;
			.arrow {
				cursor: pointer;
				> svg {
					transform: rotate(0deg);
					transition: transform 0.2s linear;
					&.spin {
						transform: rotate(180deg);
						transition: transform 0.2s linear;
					}
				}
			}
			> label {
				align-items: center;
				border-bottom: 1px solid;
				display: flex;
				font-size: 1vw;
				user-select: none;
				.colorInput {
					border: none;
					font-size: 1.75vw;
					padding: 0;
					margin: 0;
					text-align: center;
					text-transform: uppercase;
				}
				@include extra-large-up {
					font-size: 0.75vw;
					.colorInput {
						font-size: 1vw;
					}
				}
				@include extra-small-down {
					margin: 1rem 0.25rem;
					font-size: 3.5vw;
					.colorInput {
						font-size: 4.5vw;
					}
				}
			}
			> div {
				display: flex;
				cursor: copy;
				padding: 0.5rem;
				> svg {
					width: 1.25rem;
					height: 1.25rem;
				}
				@include extra-small-down {
					padding: 0.5rem 0.25rem;
					> svg {
						width: 0.75rem;
						height: 0.75rem;
					}
				}
			}
		}
		.box-inner {
			border-radius: 0.35rem 0.35rem 0 0;
			max-height: 0;
			min-height: 0;
			margin: 0 auto;
			max-width: 350px;
			overflow: hidden; 
			padding-bottom: 0;
			transition: padding-bottom 0.35s linear, max-height 0.35s linear;
			width: 82%;
			dl {
				display: flex;
				flex-direction: column;
				margin: 0 auto;
				max-width: 300px;
				min-height: 0;
				overflow: hidden;
				dt {
					display: flex;
					justify-content: space-between;
					font-size: 1.25vw;
					margin: 0;
					min-height: 0;
					min-width: 49%;
					overflow: hidden;
					padding: 0.25rem;
					span {
						font-family: inherit;
					}
				}
				dd {
					display: flex;
					justify-content: center;
					font-size: 1.25vw;
					margin: 0 0 1rem 0;
					min-height: 0;
					min-width: 49%;
					overflow: hidden;
					button {
						align-items: center;
						background-color: #473333;
						border: none;
						box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
						color: #e1ddd7;
						cursor: pointer;
						display: flex;
						font-size: 1.25vw;
						margin: 0 0.5vw;
						transition: background-color 0.175s linear;
						&:hover {
							background-color: #614d4d;
							transition: background-color 0.175s linear;
						}
					}
					&:last-child {
						margin: 0;
					}
				}
			}
			&.box-open {
				min-height: 0;
				max-height: 50vh;
				transition: padding-bottom 0.35s linear, max-height 0.35s linear;
				padding-bottom: 1rem;
			}
			@include extra-large-up {
				margin-top: 1rem;
				max-width: 450px;
				dl {
					max-width: 400px;
					dt {
						font-size: 0.75vw;
					}
					dd {
						font-size: 0.75vw;
						button {
							font-size: 0.75vw;
						}
					}
				}
			}
			@include extra-small-down {
				max-width: 250px;
				width: 90%;
				dl {
					max-width: 200px;
					dt {
						font-size: 3vw;
					}
					dd {
						font-size: 3vw;
						button {
							font-size: 3vw;
						}
					}
				}
			}
		}
	}
}
