@import './breakpoints.scss';
@import '~primereact/resources/primereact.min.css';

.swatchExtended {
	display: grid;
	grid-template-columns: 25% 75%;
	height: 100%;
	@include extra-large-up {
		height: auto;
	}
	width: 100%;
	section.color {
		border-right: 1px solid #161d1d;
		height: 100%;
	}
	aside.info {
		align-items: center;
		background-color: #161d1d;
		border: 1px solid #161d1d;
		display: flex;
		flex-direction: column;
		flex: 1;
		font-family: 'Roboto', sans-serif;
		height: 100%;
		padding: 1rem;
		@include extra-small-down {
			padding: .5rem;
		}
		label {
			align-items: center;
			color: #e1ddd7;
			display: flex;
			font-size: 2vw;
			margin: 0 auto;
			user-select: none;
			width: 50%;
			@include extra-small-down {
				width: 100%;
			}
			.colorInput {
				border: none;
				border-radius: 1rem;
				font-size: 1.75vw;
				padding: 0;
                margin: 0 0 2rem 0;
                padding: 1rem;
				text-align: center;
				text-transform: uppercase;
				width: 100%;
			}
			.infoReadonlyInput {
				background-color: #161d1d;
				border: none;
				color: #e1ddd7;
				font-size: 1.75vw;
				padding: 0;
				margin: 0 0 0 1rem;
				text-align: right;
				text-transform: uppercase;
				width: 100%;
			}
			@include extra-large-up {
				font-size: .9vw;
				.colorInput,
				.infoReadonlyInput {
					font-size: .9vw;
				}
			}
			@include extra-small-down {
				margin: 1rem 0.25rem;
				font-size: 3.5vw;
				.colorInput,
				.infoReadonlyInput {
					font-size: 4.5vw;
				}
			}
        }
        .boxes {
			background-color: #3C4444;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
			grid-template-rows: repeat(2, auto);
			grid-gap: 1rem;
			padding: 0 1rem 1rem 1rem;
            width: 75%;
			@include extra-small-down {
				grid-template-columns: 1fr 1fr;
				grid-template-rows: auto;
				padding: .5rem;
				width: 100%;
			}
            .barGroup {
                display: flex;
                flex-direction: column;
                flex-grow: 1;
                height: fit-content;
                margin-top: 1rem;
                .contents {
					height: 100%;
				}
                div {
                    color: #e1ddd7;
                    margin: 0;
					@include extra-small-down {
						font-size: 3.5vw;
					}
                }
                label {
                    margin: 0;
                    width: 100%;
                    input {
                        padding: 1rem;
						margin: 0;
						text-align: center;
                        width: 100%;
						@include extra-small-down {
							font-size: 4vw;
						}
                    }
					@include extra-small-down {
						font-size: 3.5vw;
					}
				}
				.p-overlaypanel {
					background-color: #473333;
					text-align: left;
				}
				.helpCircle {
					color: #807C77;
					width: 1rem;
					height: 1rem;
					margin-right: .5rem;

				}
            }
        }
	}
}
