@import './breakpoints.scss';
@import '~primereact/resources/primereact.min.css';

.swatchExtended {
	display: grid;
	grid-template-columns: 25% 75%;
	height: 100%;
	@include extra-large-up {
		grid-template-columns: 20% 80%;
		height: auto;
	}
	@include extra-small-down {
		grid-template-columns: 15% 85%;
	}
	width: 100%;
	section.color {
		border-right: 1px solid #161d1d;
		height: 100%;
	}
	aside.info {
		align-items: center;
		background-color: #161d1d;
		border: 1px solid #161d1d;
		display: flex;
		flex-direction: column;
		flex: 1;
		font-family: 'Roboto', sans-serif;
		height: 100%;
		padding: 1rem;
		@include extra-small-down {
			padding: .5rem;
		}
		> div.InfoBox {
			align-items: center;
			display: flex;
			margin: 0 auto;
			width: 50%;
			svg {
				color: #807C77;
				margin-right: .5rem;
			}
			label {
				margin: 0;
				width: 100%;
			}
		}
		label {
			align-items: center;
			color: #e1ddd7;
			display: flex;
			font-size: 2vw;
			user-select: none;
			width: 60%;
			@include extra-small-down {
				width: 100%;
			}
			.colorInput {
				border: none;
				border-radius: 1rem;
				font-size: 1.75vw;
				padding: 0;
                margin: 0 0 2rem 0;
                padding: 1rem;
				text-align: center;
				text-transform: uppercase;
				width: 100%;
			}
			.infoReadonlyInput {
				background-color: #161d1d;
				border: none;
				color: #e1ddd7;
				font-size: 1.75vw;
				padding: 0;
				margin: 0 0 0 1rem;
				text-align: right;
				text-transform: uppercase;
				width: 100%;
			}
			@include extra-large-up {
				font-size: .9vw;
				.colorInput,
				.infoReadonlyInput {
					font-size: .9vw;
				}
			}
			@include extra-small-down {
				margin: 1rem 0.25rem;
				font-size: 3.5vw;
				.colorInput,
				.infoReadonlyInput {
					font-size: 4.5vw;
				}
			}
        }
        .boxes {
			background-color: #3C4444;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
			grid-template-rows: repeat(3, auto);
			grid-gap: 1rem;
			padding: 0 1rem 1rem 1rem;
			width: 90%;
			@include extra-large-up {
				grid-template-columns: repeat(5, 1fr);
				grid-template-rows: repeat(2, auto);
			}
			@include extra-extra-large-up {
				grid-template-columns: repeat(10, 1fr);
				grid-template-rows: repeat(2, auto);
			}
			@include medium-down {
				width: 100%;
			}
			@include extra-small-down {
				grid-template-columns: 1fr 1fr;
				grid-template-rows: auto;
				padding: .5rem;
			}
            .barGroup {
                display: flex;
                flex-direction: column;
                flex-grow: 1;
                height: fit-content;
				margin-top: 1rem;
				@include extra-small-down {
					margin-top: 0;
				}
                .contents {
					height: 100%;
				}
                div.barGroupInner {
					align-items: center;
					color: #e1ddd7;
					display: flex;
					font-size: 1.315vw;
					justify-content: center;
					margin: 0;
					@include extra-extra-large-up {
						font-size: .65vw;
					}
					@include extra-small-down {
						font-size: 3.5vw;
					}
                }
                label {
                    margin: 0;
                    width: 100%;
                    input {
                        padding: 1rem;
						margin: 0;
						text-align: center;
                        width: 100%;
						@include extra-small-down {
							font-size: 4vw;
						}
                    }
					@include extra-small-down {
						font-size: 3.5vw;
					}
				}
				.helpCircle {
					color: #807C77;
					width: 1rem;
					height: 1rem;
					margin-right: .5rem;
					@include extra-extra-large-up {
						height: 1.25rem;
						width: 1.25rem;
					}
				}
            }
        }
	}
	div.p-overlaypanel {
		background-color: #473333;
		color: #e1ddd7;
		text-align: left;
		>div.p-overlaypanel-content {
			p {
				span {
					font-weight: bold;
				}
			}
		}
	}
}
